<!doctype html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="https://s1.pstatp.com/ee/lark-web/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="展示聊天记录">
  <title>消息 - 飞书</title>
</head>
<body>
<div class="message-window">
  <div class="message-list">
  </div>
</div>
<link rel="stylesheet" href="/static/record.css">
<link rel="stylesheet" href="/static/lark.css">
<style id="person-style"></style>
<script src="/static/record.js"></script>
</body>
</html>